.container {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  background-image: linear-gradient(
    to top,
    #0c3483 0%,
    #a2b6df 100%,
    #6b8cce 100%,
    #a2b6df 100%
  );
  color: whitesmoke;
  padding: 10px 20px 20px;
}
.search {
  font-family: "Roboto Condensed", sans-serif;
  color: whitesmoke;
  font-weight: 300;
}
.cityname {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 50px;
  font-weight: 300;
  color: whitesmoke;
}
.temperature1 {
  font-size: 40px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  color: whitesmoke;
  text-align: left;
}

.units {
  font-size: 20px;
  vertical-align: text-top;
}

.day {
  font-family: "Roboto Condensed", sans-serif;
  color: whitesmoke;
  font-weight: 300;
}

.float-left {
  height: 75px;
  width: 75px;
  float: left;
  margin: 0 auto;
}

.weather-forecast h3 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: whitesmoke;
  text-align: center;
}

.weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 48px;
  width: 48px;
}

.weather-forecast-temperature {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: whitesmoke;
  text-align: center;
}

h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 50px;
  font-weight: 300;
  color: whitesmoke;
}
img {
  font-size: 30px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: whitesmoke;
}

li::first-letter {
  text-transform: capitalize;
}

a:link {
  color: darkorange;
}

a:visited {
  color: darkorange;
}

a:hover {
  color: whitesmoke;
  text-decoration: none;
}

footer {
  font-style: italic;
  display: block;
  margin: 0 auto;
  font-size: x-small;
}
.githublink {
  color: lightsalmon;
}
