.container {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
  color: whitesmoke;
  padding: 10px 20px 20px;
}
.search {
  font-family: "Roboto Condensed", sans-serif;
  color: whitesmoke;
  font-weight: 300;
}
.cityname {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 50px;
  font-weight: 300;
  color: whitesmoke;
}
.temperature1 {
  font-size: 60px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  color: whitesmoke;
  text-align: left;
}

.units {
  font-size: 20px;
  vertical-align: text-top;
}

.day {
  font-family: "Roboto Condensed", sans-serif;
  color: whitesmoke;
  font-weight: 300;
}
.btn-primary {
  background-color: teal;
}

.weather-forecast h3 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: whitesmoke;
  text-align: center;
}

.weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 48px;
  width: 48px;
}

.weather-forecast-temperature {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: whitesmoke;
  text-align: center;
}

h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 50px;
  font-weight: 300;
  color: whitesmoke;
}
img {
  font-size: 30px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: whitesmoke;
}

li::first-letter {
  text-transform: capitalize;
}

a:link {
  color: teal;
}

a:visited {
  color: teal;
}

a:hover {
  color: whitesmoke;
  text-decoration: none;
}

footer {
  font-style: italic;
  display: block;
  margin: 0 auto;
  font-size: x-small;
}
.githublink {
  color: teal;
}
